---
interface Props {
	path: string;
}

const config = {
	el: "#comments",
	path: Astro.props.path,
};
---

<div id="comments"></div>
<script is:inline defer define:vars={{ config }}>
	function loadTwikoo() {
		const script = document.createElement("script");
		script.src = "https://registry.npmmirror.com/twikoo/1.6.44/files/dist/twikoo.min.js"
		script.onload = () => {
			twikoo.init({
				...config,
				envId: "https://twikoo.aidoi.top",
				lang: "zh-CN",
			});
		};
		document.body.appendChild(script);
	}
	document.addEventListener("loadComments", loadTwikoo, { once: true });
</script>